-- CreateTable
CREATE TABLE "User" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "password" TEXT NOT NULL,

    CONSTRAINT "User_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Cards" (
    "id" TEXT NOT NULL,
    "img" TEXT NOT NULL,
    "productName" TEXT NOT NULL,
    "productLanguage" TEXT,
    "condition" TEXT,
    "releaseDate" TIMESTAMP(6),
    "description" TEXT,

    CONSTRAINT "Cards_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Display" (
    "id" TEXT NOT NULL,
    "img" TEXT NOT NULL,
    "productName" TEXT NOT NULL,
    "productLanguage" TEXT NOT NULL,
    "condition" TEXT NOT NULL,
    "releaseDate" TIMESTAMP(6) NOT NULL,
    "description" TEXT NOT NULL,

    CONSTRAINT "Display_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Packs" (
    "id" TEXT NOT NULL,
    "img" TEXT NOT NULL,
    "productName" TEXT NOT NULL,
    "productLanguage" TEXT NOT NULL,
    "condition" TEXT NOT NULL,
    "releaseDate" TIMESTAMP(6) NOT NULL,
    "description" TEXT NOT NULL,

    CONSTRAINT "Packs_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Tin" (
    "id" TEXT NOT NULL,
    "img" TEXT NOT NULL,
    "productName" TEXT NOT NULL,
    "productLanguage" TEXT NOT NULL,
    "condition" TEXT NOT NULL,
    "releaseDate" TIMESTAMP(6) NOT NULL,
    "description" TEXT NOT NULL,

    CONSTRAINT "Tin_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Etb" (
    "id" TEXT NOT NULL,
    "img" TEXT NOT NULL,
    "productName" TEXT NOT NULL,
    "productLanguage" TEXT NOT NULL,
    "condition" TEXT NOT NULL,
    "releaseDate" TIMESTAMP(6) NOT NULL,
    "description" TEXT NOT NULL,

    CONSTRAINT "Etb_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Collections" (
    "id" TEXT NOT NULL,
    "img" TEXT NOT NULL,
    "productName" TEXT NOT NULL,
    "productLanguage" TEXT NOT NULL,
    "condition" TEXT NOT NULL,
    "releaseDate" TIMESTAMP(6) NOT NULL,
    "description" TEXT NOT NULL,

    CONSTRAINT "Collections_pkey" PRIMARY KEY ("id")
);

